[Desktop Entry]
Name=Kill wifi Monitor
GenericName=Kill wifi Monitor
Comment=Kill wifi Monitor
Exec=/bin/false
Terminal=false
Type=Application
Icon=ethprimary
Categories=Network;FileTransfer;
StartupNotify=false
X-Ayatana-Desktop-Shortcuts=Show_Conns;Select_Conn;Renew_Conn;Disable_Mon;Enable_Mon;DisableWifi;EnableWifi;Restart

[Show_Conns Shortcut Group]
Name=Show Connection
Exec=bash /home/antonio/ethkillwifi-v.0.91/show_connections.sh
TargetEnvironment=Unity

[Select_Conn Shortcut Group]
Name=Select Connection
Exec=bash /home/antonio/ethkillwifi-v.0.91/select_connections.sh
TargetEnvironment=Unity

[Renew_Conn Shortcut Group]
Name=Renew Connection
Exec=bash /home/antonio/ethkillwifi-v.0.91/renew_connection.sh
TargetEnvironment=Unity

[Disable_Mon Shortcut Group]
Name=Disable Monitor
Exec=bash /home/antonio/ethkillwifi-v.0.91/ethkillwifi_cmd.sh off
TargetEnvironment=Unity

[Enable_Mon Shortcut Group]
Name=Enable Monitor
Exec=bash /home/antonio/ethkillwifi-v.0.91/ethkillwifi_cmd.sh on
TargetEnvironment=Unity

[DisableWifi Shortcut Group]
Name=Disable Wifi
Exec=bash /home/antonio/ethkillwifi-v.0.91/ethkillwifi_cmd.sh wifioff
TargetEnvironment=Unity

[EnableWifi Shortcut Group]
Name=Enable Wifi
Exec=bash /home/antonio/ethkillwifi-v.0.91/ethkillwifi_cmd.sh wifion
TargetEnvironment=Unity

[Restart Shortcut Group]
Name=Restart Monitor
Exec=bash /home/antonio/ethkillwifi-v.0.91/ethkillwifi_cmd.sh restart
TargetEnvironment=Unity
